.zbz-input-clearable {
  // background-image: url("ico-x-normal.png");
  background-position: 150% 50%;
  background-repeat: no-repeat;
  transition: background 0.4s;
}

.zbz-input-clearable--x {
  background-position: 100% 50%;
}

.zbz-input-clearable--x-over {
  // background-image: url("ico-x-hover.png");
  cursor: pointer;
}

.zbz-input-clearable::-ms-clear {
  display: none;
}

input.zbz-input-clearable {
  padding-right: calc(2 * 7px + 13px);
}
