.app-loginer {
  // cursor: url("cursor-lock.png"), pointer;
  position: fixed;
  display: block;
  height: 5px;
  width: 5px;
  left: 0;
  top: 0;
}

.admin-panel {
  position: fixed;
  top: calc(100% - 20px);
  left: 0;
  border-top: 1px solid rgba(#000, 0.5);
  justify-content: space-between;
  background: rgba(#000, 0.1);
  box-sizing: border-box;
  align-items: baseline;
  flex-direction: row;
  padding: 20px 10px;
  display: flex;
  outline: none;
  width: 100%;

  & {
    /* fix for codemirror, that also uses z-index */
    z-index: 10;
  }

  &:hover,
  &:focus {
    background: #d3d3d3;
    padding: 10px;
    bottom: 0;
    top: auto;
  }

  p,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 0 0 15px;
    display: inline;
    padding: 0;
  }

  li:first-child {
    margin-left: 0;
  }

  li.border {
    border-left: 1px solid rgba(#000, 0.5);
    padding-left: 15px;
  }

  li.border:before {
    content: "\00a0";
  }
}
