.media-embed-wrapper {
  box-sizing: border-box;
  max-width: 950px;
}

.media-embed {
  box-sizing: border-box;
  position: relative;
  border: none;
  width: auto;
  padding: 0;
  margin: 0;
  height: 0;
}

.media-embed,
.media-embed--16x9 {
  padding: 0 0 56.25% 0; /* 16:9 */
}

.media-embed--16x10 {
  padding: 0 0 62.5% 0; /* 16:10 */
}

.media-embed iframe,
.media-embed object,
.media-embed embed {
  box-sizing: border-box;
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}
