.zbz-form-signin {
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  background: #e1e1e1;
  padding: 1em;

  p {
    margin: 1em 0 0 0;
  }

  p:first-child {
    margin: 0;
  }
}
