.zbz-button {
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  font: 13.3333px $font-button;
  background: buttonface linear-gradient(to bottom, #f6f6f6, #dedede);
  border-color: #a5a5a5 #9c9c9c #949494 #9e9e9e;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  text-decoration: none;
  letter-spacing: normal;
  text-transform: none;
  word-spacing: normal;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  text-indent: 0;
  padding: 10px;
  outline: none;
  color: #000;
  margin: 0;
}

.zbz-button ~ .zbz-button {
  margin-left: 1rem;
}

.zbz-button:hover {
  border-color: #7b7b7b #797979 #6e6e6e #747474;
  color: #000;
}

.zbz-button:focus {
  outline: none;
}

.zbz-button:active {
  background-image: linear-gradient(to bottom, #dfdfdf, #f8f8f8);
  // box-shadow: 0 0 10px #fc0;
  outline: none;
}

.zbz-button[disabled],
.zbz-button[disabled]:hover,
.zbz-button[disabled]:focus,
.zbz-button[disabled]:active {
  cursor: default;
  background: buttonface linear-gradient(to bottom, #f6f6f6, #dedede);
  border-color: #a5a5a5 #9c9c9c #949494 #9e9e9e;
  outline: none;
  opacity: 0.5;
}

.zbz-button i {
  font-weight: inherit;
  font-style: inherit;
}
