.zbz-pill-tabs {
  justify-content: flex-start;
  margin: 0 -10px;
  flex-wrap: wrap;
  display: flex;
  color: #999;
}

.zbz-pill-tabs > input {
  display: none;
}

.zbz-pill-tabs > label {
  border: 1px solid transparent;
  border-bottom: 1px white;
  display: inline-block;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 10px;
}

.zbz-pill-tabs > label:hover {
  color: #333;
}

.zbz-pill-tabs > section {
  flex: 0 0 calc(100% - 20px);
  margin: 10px 10px 0 10px;
  position: absolute;
  left: -99999px;
  display: block;
  padding: 0;
  order: 100;
}

.zbz-pill-tabs > input:nth-of-type(1)[disabled] ~ label:nth-of-type(1),
.zbz-pill-tabs > input:nth-of-type(2)[disabled] ~ label:nth-of-type(2),
.zbz-pill-tabs > input:nth-of-type(3)[disabled] ~ label:nth-of-type(3),
.zbz-pill-tabs > input:nth-of-type(4)[disabled] ~ label:nth-of-type(4) {
  position: absolute;
  left: -99999px;
}

.zbz-pill-tabs > input:nth-of-type(1):checked ~ label:nth-of-type(1),
.zbz-pill-tabs > input:nth-of-type(2):checked ~ label:nth-of-type(2),
.zbz-pill-tabs > input:nth-of-type(3):checked ~ label:nth-of-type(3),
.zbz-pill-tabs > input:nth-of-type(4):checked ~ label:nth-of-type(4) {
  background: #f0f0f0;
  position: static;
  cursor: inherit;
  color: #333;
}

.zbz-pill-tabs > input:nth-of-type(1):checked ~ label:nth-of-type(1):hover,
.zbz-pill-tabs > input:nth-of-type(2):checked ~ label:nth-of-type(2):hover,
.zbz-pill-tabs > input:nth-of-type(3):checked ~ label:nth-of-type(3):hover,
.zbz-pill-tabs > input:nth-of-type(4):checked ~ label:nth-of-type(4):hover {
  color: #333;
}

.zbz-pill-tabs > input:nth-of-type(1)[disabled] ~ section:nth-of-type(1),
.zbz-pill-tabs > input:nth-of-type(2)[disabled] ~ section:nth-of-type(2),
.zbz-pill-tabs > input:nth-of-type(3)[disabled] ~ section:nth-of-type(3),
.zbz-pill-tabs > input:nth-of-type(4)[disabled] ~ section:nth-of-type(4) {
  position: absolute;
  left: -99999px;
}

.zbz-pill-tabs > input:nth-of-type(1):checked ~ section:nth-of-type(1),
.zbz-pill-tabs > input:nth-of-type(2):checked ~ section:nth-of-type(2),
.zbz-pill-tabs > input:nth-of-type(3):checked ~ section:nth-of-type(3),
.zbz-pill-tabs > input:nth-of-type(4):checked ~ section:nth-of-type(4) {
  position: static;
}
