/**
 * Плавное изменение значения свойства между двумя брекпойнтами
 */
@mixin adaptive-property(
  $property,
  $min-value,
  $max-value,
  $min-break-point,
  $max-break-point
) {
  $min-value-unitless: $min-value / ($min-value * 0 + 1);
  $max-value-unitless: $max-value / ($max-value * 0 + 1);
  $min-break-point-unitless: $min-break-point / ($min-break-point * 0 + 1);
  $max-break-point-unitless: $max-break-point / ($max-break-point * 0 + 1);

  & {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-break-point) {
    $diff-value: $max-value-unitless - $min-value-unitless;
    $diff-media: $max-break-point-unitless - $min-break-point-unitless;
    $coefficient: $diff-value / $diff-media;
    #{$property}: calc(
      #{$min-value} + (100vw - #{$min-break-point}) * #{$coefficient}
    );
  }

  @media screen and (min-width: $max-break-point) {
    #{$property}: $max-value;
  }
}
