.icon-svg {
}

.icon-svg:after {
  background: transparent url("ico-x-o.svg") no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  content: "";
  height: 16px;
  width: 16px;
}

.icon-svg:hover:after {
  background-position: -16px 0;
}
