.demo-hover {
  display: inline-block;
}

.demo-rotate,
.demo-rotate__item {
  transition: transform 1s ease-out;
}

.demo-rotate {
  border-collapse: collapse;
}

.demo-rotate__item {
  border: 1px solid lightgrey;
  display: block;
  padding: 5px;
}

.demo-hover:hover .demo-rotate {
  transform: rotate(180deg);
}

.demo-hover:hover .demo-rotate__item {
  transform: rotate(-180deg);
}
