// @see http://browserhacks.com/

.test-hack {
  color: red;
}

_:-webkit-any-link,
:root .test-hack-webkit {
  color: green;
}

@-moz-document url-prefix() {
  .test-hack-ff {
    color: green;
  }
}

_:-o-prefocus,
.test-hack-presto {
  color: green;
}

* html .test-hack-ie6 {
  color: green;
}

*:first-child + html .test-hack-ie7 {
  color: green;
}

* + html .test-hack-ie7 {
  color: green;
}

html > body .test-hack-not-ie6 {
  color: green;
}

.test-hack-not-ie8,
#ie#fix {
  color: green;
}

:root .test-hack-not-ie68 {
  color: green;
}

_:-ms-input-placeholder,
:root .test-hack-ie1011 {
  color: green;
}

_:-ms-fullscreen,
:root .test-hack-ie11 {
  color: green;
}

@supports (-ms-ime-align: auto) {
  .test-hack-edge {
    color: green;
  }
}
