@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import "~normalize.css/normalize";
@import "~prismjs/themes/prism";
@import "partial/variables";
@import "partial/mixins";

// ----------------------------------------------------------------------------
// reset

*,
*:before,
*:after {
  box-sizing: border-box;
  flex-shrink: 1;
}

// ----------------------------------------------------------------------------

html,
body {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font: 18px/1.4 $font-sans;
  @include adaptive-property(
    "font-size",
    14px,
    18px,
    $page-width-320,
    $screen-lg-min
  );
  hyphens: auto;
  color: #000;
}

body {
  border-top: 1px solid #444;
  background: #fff;
  overflow: auto;
}

// ----------------------------------------------------------------------------
// basic content

::selection {
  // from prismjs
  // background-color: #b3d4fc;
  background-color: #338fff;
  text-shadow: none;
  color: #fff;
}

:link,
:visited {
  & {
    text-decoration-color: $link-underline-color;
    color: $link-color;
  }

  &:hover {
    color: $link-color-hover;
  }

  &::selection {
    background-color: #338fff;
    text-shadow: none;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
  line-height: 1.2;
}

hr {
  cursor: default;
  border-top: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  border-left: none;
  overflow: hidden;
  display: block;
  height: 0;
}

p {
  display: block;
  margin: 1em 0;
  padding: 0;
}

pre,
pre[class*="language-"] {
  margin: 0.5em 0 0.5em -1em;
  white-space: pre-wrap;
  background: #f5f2f0;
  text-shadow: none;
  display: block;
  overflow: auto;
  padding: 1em;
  color: #000;
}

pre::selection {
  background: #b3d4fc;
  text-shadow: none;
}

ul,
ol {
  padding-left: 2rem;
  margin: 1em 0;
}

ul {
  // list-style: outside url("./dash.svg");
  padding-left: calc(16px + 0.5em);
}

li {
  padding: 0;
  margin: 0;
}

pre,
pre[class*="language-"],
code {
  font: 16px/1.3 $font-mono;
  @include adaptive-property(
    "font-size",
    14px,
    17px,
    $page-width-320,
    $screen-lg-min
  );
}

td,
th {
  font: inherit;
}

[type="text"],
[type="password"],
[type="search"],
[type="number"],
[type="email"],
[type="tel"],
[type="url"],
[type="month"],
[type="week"],
[type="datetime"],
[type="datetime-local"],
[type="date"],
[type="time"],
textarea {
  // font: 14px/1.4 inherit;
  font: 16px/1.4 serif;
  border: 1px solid grey;
  border-radius: 2px;
  padding-right: 4px;
  padding-left: 4px;
  /* font: inherit; */

  &[readonly] {
    background: rgba(#000, 0.1);
  }
}

textarea {
  min-height: 1.5em;
  resize: vertical;
  max-width: 100%;
  hyphens: none;
}

img:-moz-broken:not([alt]) {
  -moz-force-broken-image-icon: 1;
  height: 24px;
  width: 24px;
}

// ----------------------------------------------------------------------------
// patches for prism

.token.operator {
  background: transparent;
}

// ----------------------------------------------------------------------------
// patches for gatsby

.gatsby-resp-image-wrapper {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

// ----------------------------------------------------------------------------
// layout

.page-bone {
  @include adaptive-property(
    "padding",
    10px,
    50px,
    $page-width-320,
    $screen-xl-min
  );

  & {
    margin: 0;
  }
}

.page-bone {
  min-height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.app-body {
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 0 auto;
  display: flex;
}

.app-foot {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  display: flex;

  .zbz-button ~ .zbz-button {
    margin-left: 1rem;
  }
}

.site-head {
  grid-column: header;
  margin: 0 0 1rem 0;
  flex: 0 0 auto;

  @media only screen and (min-width: $screen-lg-min) {
    margin: 0 0 2rem 0;
  }

  &__title {
    font: 2em/1.2 normal $font-site-head;
    background: none;
    display: inline;
    padding: 0;
    margin: 0;

    &:after {
      content: "Ы";
    }
  }

  &__title:link,
  &__title:visited {
    background: linear-gradient(
        to right,
        $link-underline-color,
        $link-underline-color 100%
      )
      repeat-x 0 #{$link-underline-position-y} / 10px 1px;
    text-shadow: 1px 0 $page-bg-color, 2px 0 $page-bg-color,
      -1px 0 $page-bg-color, -2px 0 $page-bg-color;
    text-decoration: none;
    border: none;
  }
}

// ----------------------------------------------------------------------------
// pages

@import "blocks/article";
@import "blocks/article-info";

// ----------------------------------------------------------------------------

@import "blocks/zbz-button";
@import "blocks/zbz-table";
@import "blocks/zbz-input-clearable/zbz-input-clearable";
@import "blocks/zbz-links-list";
@import "blocks/text-link";
@import "blocks/zbz-link";
@import "blocks/js-link";
@import "blocks/media-embed";

// ----------------------------------------------------------------------------

@import "for-notes/test-gradient-underlines";
@import "for-notes/test-hacks";
@import "for-notes/test-scroll-shadows";
@import "for-notes/test-special-symbols";
@import "for-notes/test-swap-rotate";

// ----------------------------------------------------------------------------

@import "404";
@import "partial/utils";
